

/* Scrollbar Style */

/* width */

::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--dark) !important;
  border-radius: 1px !important;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: var(--primary) !important;
  transition-duration: 0.4s !important;
}

/* Scroller Style End */

/* Navbar Start */

.navbar .navbar-nav .nav-item a {
  display: block;
  padding: 8px 20px;
  color: var(--icon-color);
  font-size: 16px;
}

.navbar .navbar-nav .nav-item a i {
  position: relative;
  right: 10px;
}

/* Navbar End */

/* Compact sidebar Start */

.compact-sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 100;
  background-color: var(--dark);
  box-shadow: 2px 2px var(--shadow);
  overflow-x: hidden;
  padding: 10px;
}

.compact-sidebar .sidebar-menu {
  text-align: center;
}

.compact-sidebar .sidebar-menu .menu {
  text-decoration: none;
  color: var(--light);
  font-size: 20px;
  display: block;
  padding: 15px 0;
  height: 55px;
  width: 55px;
  margin: 5px 0;
}

.compact-sidebar .sidebar-menu .menu .icon {
  position: relative;
  top: 3px;
}

.compact-sidebar .sidebar-menu .menu:hover {
  color: var(--light);
  /* background-color: var(--transparent-white); */
  border-radius: 50%;
}

.menu-active {
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: 2px 2px var(--shadow);
}

/* Compact Sidebar End */

/* Extended Sidebar Starts */

.extended-sidebar {
  height: -webkit-fill-available;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 80px;
  border-radius: 10px;
  background-color: #fff;
  /* Change or Configure Sidebar Color */
  overflow-x: hidden;
  transition: 0.3s;
  margin: 10px;
}

.extended-sidebar .sidebar {
  position: relative;
  height: 100%;
}

.extended-sidebar .sidebar .menu-container {
  padding: 10px;
}

.extended-sidebar .sidebar .menu-container hr {
  border-top: 1px solid var(--transparent-white);
  /* Configure Horizontal line color */
}

.extended-sidebar .sidebar .menu-container .menu-content {
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px 0;
  color: var(--dark);
  /* Change or Configure Sidebar Text Color */
}

.extended-sidebar .sidebar .menu-container .menu-content .item {
  position: relative;
}

.extended-sidebar .sidebar .menu-container .menu-content .item-description {
  position: absolute;
  right: 20px;
}

.extended-sidebar .sidebar .menu-container .menu-content .dropdown-content {
  padding: 0 0;
  height: 0;
  display: none;
  transition: 0.5s;
}

/* Extended Sidebar End */

/* Common Heading Section */

.heading-container {
  height: 60px;
  padding: 12px 14px;
  color: var(--light);
  background-color: var(--primary);
  /* Heading background color */
  box-shadow: 1px 1px var(--shadow);
  /* Heading text color */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.heading-container .title {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 5px;
}

.heading-container .icon-container {
  position: relative;
  float: right;
  top: 6px;
  transition: 0.3s;
}

.heading-container .icon-container .icon {
  font-size: 16px;
  color: var(--light);
  cursor: pointer;
}

/* Common Heading End */

/* Fab Card Start */

.fab-wrapper {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 80px;
}

.fab-wrapper .fab-card {
  margin: 10px;
  background-color: #e4e4e4;
  /* Configure Fab Background Color here */
  color: var(--dark);
  /* Configure Fab text color here */
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 8px 15px 0 var(--shadow);
  display: none;
}

.fab-wrapper .fab-card .fab-details {
  padding: 20px;
  font-size: 14px;
  min-width: 250px;
  max-width: 300px;
}

hr {
  border-top: 1px solid var(--transparent-dark);
  /* configure horizontal line color here */
}

/* Fab Card End */

/* Fab Button Start */

.fab-button-wrapper {
  position: absolute;
  right: 0;
  max-height: 160px;
  top: 100px;
  bottom: 0;
  padding: 15px;
  /* background-color: var(--shadow); */
  /* Fab Button Container Color */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1000;
}

.fab-button-wrapper .fab-button {
  border: none;
  background-color: var(--transparent-white);
  /* Button background color */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--transparent-dark);
  /* Button text color */
  font-size: 12px;
  display: block;
  margin: 10px 0;
  padding: 5px;
}

.fab-button-wrapper .fab-button:hover {
  background-color: var(--primary);
  /* On hover button background color */
  color: var(--light);
  /* on hover button text color */
}

.initalOptions {
  display: none;
}

/* Fab Button End */

/* Dummy Colors */

.one {
  color: rgb(189, 88, 88);
}

.two {
  color: rgb(238, 174, 78);
}

.three {
  color: rgb(137, 223, 103);
}

.four {
  color: rgb(88, 189, 189);
}

.five {
  color: rgb(61, 97, 165);
}

.six {
  color: rgb(216, 77, 216);
}

.seven {
  color: rgb(214, 91, 132);
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form
  input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="phone"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #9f26ff !important;
  -webkit-box-shadow: 0 1px 0 0 #9f26ff !important;
  box-shadow: 0 1px 0 0 #9f26ff !important;
}

.md-form input:not([type]):focus:not([readonly]) + label,
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
.md-form
  input[type="password"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form
  input[type="email"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
.md-form
  input[type="datetime"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form
  input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
.md-form
  input[type="number"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form
  input[type="search"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form
  input[type="phone"]:not(.browser-default):focus:not([readonly])
  + label,
.md-form input[type="search-md"]:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: #9f26ff !important;
}

/*  Media Query */

@media only screen and (min-width: 720px) {
  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .compact-sidebar {
    display: none;
  }
  .extended-sidebar {
    left: 0;
  }
}

/*AOI Start*/

.extended-sidebar .sidebar .menu-card .aoi-date {
  margin: 20px -50px 0 0;
  float: left;
  font-size: 12px;
  color: gray;
}

.aoi-infopanel {
  position: fixed;
  width: 400px;
  height: 80px;
  left: calc(60% - 50px);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1000;
  background-color: #1b1b1b;
  color: var(--light);
  border-radius: 10px;
}

.aoi-infopanel .icon {
  font-size: 15px;
  cursor: pointer;
}

.aoi-icon .circle {
  font-size: 15px;
  position: absolute;
  left: 20px;
  top: 30px;
}

.aoi-title {
  font-size: 15px;
  position: absolute;
  left: 70px;
  top: 20px;
}

.pannel-action {
  font-size: 15px;
  position: absolute;
  top: 30px;
  left: 320px;
  cursor: pointer;
}

/* AOI End */

/* Dropdown Button Start */

.more-btn {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.dropdown-menu {
  padding: 10px 0 !important;
  background: #040f1bb3 !important;
}

.dropdown-item {
  color: var(--light) !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--primary) !important;
  background-color: transparent !important;
}

/* Dropdown button End */

/* Toaster CSS */

.alert-toaster {
  position: absolute;
  bottom: 10px;
  max-width: 400px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 1000;
  display: none;
}

.alert-toaster .toaster {
  background-color: var(--transparent-dark);
  box-shadow: 2px 2px 2px var(--shadow);
  border-radius: 5px;
  padding: 20px;
  color: var(--light);
  display: flex;
}

.alert-toaster .toaster .toaster-message {
  padding-right: 35px;
  text-align: justify;
}

.alert-toaster .toaster .toaster-action {
  position: absolute;
  right: 15px;
}

.alert-toaster .toaster .toaster-action .toaster-btn {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  widows: 30px !important;
  height: 30px !important;
  font-size: 16px;
  color: var(--light);
  top: -5px;
  position: relative;
}

/* Toaster CSS end */

/* form css */

/* .form-area {
    width: 350px;
    margin: 10px auto;
    padding: 10px 20px;
    background: var(--light);
    border-radius: 8px;
    position: relative;
    top: 100px;
    display: none;
} */

.modal-content {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 15px;
  display: block;
}

.form-area h3 {
  font-size: 16x;
  text-align: center;
  margin: 10px;
}

input[type="text"] {
  border: 1px solid var(--grey);
  font-size: 14px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 100%;
  height: 40px;
  background-color: var(--light);
  color: var(--light);
  box-shadow: 2px 2px 2px var(--shadow);
  margin-bottom: 30px;
}

.form-area .form-submit-btn {
  color: var(--light);
  background-color: var(--primary);
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--primary);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);
}

.form-area .form-submit-btn:hover {
  color: var(--light);
}

/* @media screen and (min-width: 480px) {
    form {
        max-width: 480px;
    }
} */
